<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1 class="hme_h1">About Cyb3r Board</h1>

  <h2 class="hme_h2">
    Cyb3r Board is designed and coded with Nerds, Geeks, Coders, Hackers, etc. alike.
    From sharing your favorite code scripts, images, and just general text. To connecting
    with other alies, Cyb3r Board is the ultimate, most secured social site you will ever
    find.<br/>
    Programed by Al13n Hacker directly, this Alien had discovered an amazing opportunity in
    order to bring you the ultimate setup. From the usability of a standard social media site,
    to also sharing code repos, marketing spots, download programs, and much more!<br/>
    In essence, the object of this site is to bring Github & Facebook as one epic structure.
  </h2>
  <p class="hme_p"><br/>
    This website is powered by:<br/>
    <%= link_to image_tag('rails.png', width: '50px', height: '50px'), 'http://rubyonrails.org/', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('discord.png', width: '50px', height: '50px'), 'https://discord.gg/BVcKe2K', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('heroku.png', width: '50px', height: '50px'), 'https://www.heroku.com', target: '_blank' %>&nbsp;&nbsp;<%= link_to image_tag('github.png', height: '50px', width: '50px'), 'https://github.com/Al13nHack3r', target: '_blank' %>
  </p>
</div>
