/*
    Google Fonts;

        font-family: 'Righteous', cursive;

        font-family: 'Cinzel', serif;

        font-family: 'Orbitron', sans-serif;

        font-family: 'Cormorant', serif;

        font-family: 'Share Tech Mono', monospace;

        font-family: 'Marcellus SC', serif;

*/

.ext_lnk
{
  font-family: 'Marcellus SC', serif;
  color: #FFF;
  font-size: 15px;
  text-align: center;
}
.ext_lnk a
{
  font-family: 'Orbitron', sans-serif;
  color: #00F;
  font-size: 17px;
  text-align: center;
}

.user_profile_bio
{
  font-family: 'Cinzel', serif;
  color: #FFF;
  font-size: 20px;
  text-align: center;
}

.repos a
{
  color: #0F0;
  font-family: 'Cormorant', serif;
  font-size: 20px;
}

.prfl_nname
{
  font-family: 'Orbitron', sans-serif;
  color: #0F0;
  font-size: 20px;
  text-align: center;
}

.usr_bio
{
  font-family: 'Marcellus SC', serif;
  color: #FFF;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
}

.usr_repos
{
  font-family: 'Cinzel', serif;
  color: #FFF;
  font-size: 20px;
  text-decoration: underline;
}

.prfl_h1
{
  font-family: 'Orbitron', sans-serif;
  color: #FFF;
  font-size: 25px;
}

#logo
{
  float: left;
  margin-right: 10px;
  color: #0F0;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  font-size: 25px;
}

#logo:hover
{
  color: #00F;
  text-decoration: none;
}

.mnu_tag
{
  font-family: 'Cormorant', serif;
  font-size: 20px;
}

.center .hme_h1
{
  margin-bottom: 10px;
  font-family: 'Marcellus SC', serif;
  color: #003B6F;
}

.center .hme_h2
{
  font-family: 'Cinzel', serif;
  color: #000;
  font-size: 20px;
}

.center .hme_p
{
  font-family: 'Orbitron', sans-serif;
  color: #F00;
  margin-bottom: -10px;
}

.sgn_txt
{
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
  color: #0F0;
}

.sgn_inp
{
  background-color: #000;
  border: 3px solid #FFF;
  border-radius: 75px;
  color: #0F0;
  font-family: 'Cinzel', serif;
  padding: 10px;
}
.hme_h1
{
  margin-bottom: 10px;
  font-family: 'Marcellus SC', serif;
  color: #FFF;
  text-align: center;
}

.lgn_p
{
  font-family: 'Orbitron', sans-serif;
  color: #FFF;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.usr_h1
{
  font-family: 'Cinzel', serif;
  color: #FFF;
  text-align: center;
  font-size: 25px;
}

.usr_h2
{
  font-family: 'Orbitron', sans-serif;
  color: #0F0;
  text-align: center;
  font-size: 20px;
}

.usr_admin
{
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  color: #FFF;
}
